
/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */
body 
{
  font-family:  Quicksand, sans-serif ;
  background-color: #5b616A;
  color: #EBF2FA;
  margin: 0px;
}
 
.beige
{
  background-color: #faf3dd;
  height: 400px;
  color: #5b616A;
  padding: 0px;
}

.beigetitle
{
margin: 0;
padding:25px;
display: grid;

}

.gallery{
  margin: 5px;
  box-shadow: 0px 0px 2px 2px #888888;

}
.gallerydiv .gallery:hover{
  box-shadow: 0px 2px 4px 4px #888888;
}

.gallerydiv{
  display: grid;
  grid-template-columns: auto auto auto;
}

.beigebody
{
  width: 45%;
  display: inline-block;
  padding-left: 25px;
  padding-top: 5px;
  line-height: 3;

}

.footertext
{
color: #EBF2FA;

}


.beigeimage
{
  width: 400px;
  height: 300px;
  box-shadow: 0px 2px 2px 2px #888888;
  float: right;
  margin-right: 20px;
  margin-top: -30px;
  display: block;
  
}

.gray
{
  background-color: #5b616A;
  height: 400px;
  color: #faf3dd;
  padding: 0px;

}

.graytitle

{
  margin: 0;
  padding:25px;
}
.graybody
{
  width: 45%;
  display: inline-block;
  padding-left: 25px;
  padding-top: 5px;
  line-height: 3;
}

.grayimage
{
  width: 400px;
  height: 300px;
  box-shadow: 0px 2px 2px 2px #888888;
  float: right;
  margin-right: 20px;
  margin-top: -30px;
  display: block;
  
}

    
  
.navmobile{
  width: 100%;
  display: block;
  margin: 0 auto;

}
   
    .navdesktop {
        display: none;
    }

    .footer
    {
      width: 100%;
      background-color: #4E8098;
      display: flex;
      justify-content: center;
    }

    .navigation li:first-child { display: block;}
     .navigation li { display: none;}
    .responsive li { display: block; width: 100%; }
    

    nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0; }
        
    nav li {
        float: left;
        
       }
      
      nav ul li a {
        color: #faf3dd;
        text-decoration: none;
        display: block;
        padding: 16px 16px;
      
      }
      
      /* Change the link color on hover */
      li a:hover {
        background-color: #faf3dd;
        color: #4E8098;
        
      }
      
      .active {
        background-color: #faf3dd;
        color: #4E8098;
      }
    
      .header{
        height: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .input
      {
         margin: 20px;
         height: 40px;
         width: 20%;
         float: left;
      }
      .inputdiv
      {
        margin: 20px;
        display: flex;
        justify-content: center;
      }
    